body {
  background: papayawhip;
  text-align: center;
  font-size: 2em;
  margin-bottom: 25px;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  row-gap:10px;
  column-gap: 10px;
}
.a{
  background-color: teal;
  width: 80vw;
  height: 20vh;
}
.b{
  background-color: aliceblue;
  width: 80vw;
  height: 40vh;
  margin-bottom: 10px;
}
.c{
  background-color: #264b75;
  width: 25vw;
  height: 20vh;
}
.d{
  background-color: #773535;
  width: 25vw;
  height: 20vh;
}
.e{
  background-color: #e3b036;
  width: 25vw;
  height: 20vh;
}
.f{
  background-color: #74446f;
  width: 80vw;
  height: 20vh;
}
.nonsense{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
/* desktop version */
@media (min-width: 600px){
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.broad{
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-height: 60vh;
}
.b{
  max-width: 60vw;
}
.f{
  width: 20vw;
  height: 60vh;
  align-self: self-start;
}
.nonsense{
  display: flex;
  flex-direction: row;
  width: 60vw;
}
}